.button {
  background-color: #854dff;
  border: none;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #141414;
}

.button img {
  width: 44px;
  height: 44px;
}
  
@media (max-width: 820px) {
  .button {
    width: 75px;
    height: 75px;
  }
  
  .button img {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 530px) {
  .button {
    width: 64px;
    height: 64px;
  }
  
  .button img {
    width: 28px;
    height: 28px;
  }
}

@media (max-height: 430px) {
  .button {
    width: 64px;
    height: 64px;
  }
  
  .button img {
    width: 28px;
    height: 28px;
  }
}