/* src/components/ResultDisplay.css */
.result-display {
    padding-top: 0px;
  }
  
  .result-item {
    font-family: 'Poppins', sans-serif;
    font-weight: 800; /* ExtraBold */
    font-size: 104px;
    line-height: 1.1;
    color: #141414;
  }
  
  .result-item span {
    color: #854dff;
  }
  
  @media (max-width: 768px) {
    .result-display {
      padding-top: 32px;
    }
    
    .result-item {
      font-size: 56px;
    }
  }