/* src/App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  padding: 16px;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.App {
  width: 100%;
  max-width: 840px;
  padding: 20px;
}